.vs/bookstore/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-shm
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-wal
.vs/bookstore/FileContentIndex/0815b4d2-ac88-413b-946f-0baa1be40c4f.vsidx
.vs/bookstore/FileContentIndex/107af55b-00d2-48a4-8680-9719bd996152.vsidx
.vs/bookstore/FileContentIndex/6bb8ab7b-6bee-4b23-8a71-d4568bbc31e3.vsidx
.vs/bookstore/v17/.wsuo
.vs/bookstore/v17/DocumentLayout.backup.json
.vs/bookstore/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/bookstore/v17/DocumentLayout.json
.vs/bookstore/v17/DocumentLayout.backup.json
.vs/bookstore/v17/.wsuo
.vs/bookstore/FileContentIndex/d2a95a13-9050-4d49-ba23-0044441fb298.vsidx
.vs/bookstore/FileContentIndex/9f75da3c-805e-4759-92a2-94c643d63865.vsidx
.vs/bookstore/FileContentIndex/107af55b-00d2-48a4-8680-9719bd996152.vsidx
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-wal
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-shm
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/bookstore/v17/DocumentLayout.json
.vs/bookstore/v17/DocumentLayout.backup.json
.vs/bookstore/v17/.wsuo
.vs/bookstore/FileContentIndex/107af55b-00d2-48a4-8680-9719bd996152.vsidx
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-wal
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-shm
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/bookstore/v17/DocumentLayout.json
.vs/bookstore/v17/DocumentLayout.backup.json
.vs/bookstore/v17/.wsuo
.vs/bookstore/FileContentIndex/d7667215-6237-410e-a657-465378e4c6df.vsidx
.vs/bookstore/FileContentIndex/107af55b-00d2-48a4-8680-9719bd996152.vsidx
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-wal
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-shm
.vs/bookstore/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/bookstore/CopilotIndices/17.14.1290.42047/CodeChunks.db
